---
http_interactions:
- request:
    method: get
    uri: https://www.fruityvice.com/api/fruit/Banana
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
            "genus": "Musa",
            "name": "Banana",
            "id": 1,
            "family": "Musaceae",
            "order": "Zingiberales",
            "nutritions": {
                "carbohydrates": 22,
                "protein": 1,
                "fat": 0.2,
                "calories": 96,
                "sugar": 17.2
            }
        }
  recorded_at: Tue, 04 Jan 2022 16:13:19 GMT
recorded_with: VCR 6.0.0
